body {
    background: #FFFEFC;
    color: 131B23;
    margin-top: 2%;
}

h1 {
    font-family: 'Arvo', serif;
    margin-top: 3%;
}

input[type=text] {
    border: 2.5px solid #131B23;
    border-radius: 6px;
    height: 40px;
    margin: 1% 1%;
    width: 15em;
}