body {
    background: #FFFEFC;
    color: 131B23;
    margin-top: 2%;
}

h1 {
    font-family: 'Arvo', serif;
    margin-top: 3%;
}

input[type=search] {
    border: 2.5px solid #131B23;
    border-radius: 6px;
    height: 40px;
    margin: 1% 1%;
    animation-name: searchbox;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding: 10px 10px;
}

.glyph {
    color: #131B23;
}

.glyph:hover {
    color: #3D444B;
}

.tooltip>.tooltip-inner {
    font-size: 11px;
    padding: 4px;
}


@keyframes searchbox {
    from {
        width: 0px;
    }
    to {
        width: 215px;
    }
}